# Metadata / Editor configurations
.github
.gitignore
.vscode

# Dependencies
node_modules

# Source files
src
packages
samples

# Static
resources/screenshots

# Configurations
.editorconfig
.eslintignore
.eslintrc.js
.remarkrc.js
babel.config.js
makefile
